body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signup-box{
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}
h2 {
    margin-bottom: 1.5rem;
    color: #333;
}
.loginlink{
    font-size: 14px;
    color: #007bff;
    cursor: pointer;
}
p{
    font-size: 14px;
}
